table,tr,th,td{
    text-align: center
}
th,td{
    
    min-width:150px;
}

input{
    width:150px;
    border: 1px solid #fff;
}



.table > tbody > tr > td.active{
    border: 1px solid rgb(62, 135, 243);
}